<!DOCTYPE html>
<html>
<head>
<title>jitsi example</title>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="https://meet.jit.si/external_api.js"></script>
<script>
    $(document).ready(function(){
            var domain = 'meet.jit.si';
            var options = {
        roomName: 'JitsiMeetAPIExample0',
        width: 700,
        height: 700,
        parentNode: document.querySelector('#meet')
        }
        var api=new JitsiMeetExternalAPI(domain,options);
    });
</script>
</head>
<body>
<div id="meet">
meeting
</div>
</body>
</html> 


