{%load static%}

<!-- Navigation bar -->
<link href="{% static "css/navbar.css" %}" rel="stylesheet"/>

<header id="nav">
<nav class="navbar" role="navigation">
  <div class="container-fluid">

    <!-- Logo -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">finducate
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Menu items -->
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'courses' %}"><span class="glyphicon glyphicon-education"></span> Courses</a></li>
        {% else %}
          <li><a href="/"><span class="glyphicon glyphicon-education"></span> Courses</a></li>
        {% endif %}
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'affiliate' %}"><span class="glyphicon glyphicon-record"></span> Affiliate</a></li>
        {% else %}
          <li><a href="/"><span class="glyphicon glyphicon-record"></span> Affiliate</a></li>
        {% endif %}
        <li><a href="{% url 'about' %}"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
        <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-earphone"></span> Contact</a></li>
        
      </ul>

      <!-- Right align -->
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'profile' %}"><span class="glyphicon glyphicon-user"></span> {{ user.get_username }}</a>
          </li>
          <li><a href="/accounts/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
          <li><a href="/accounts/register"><span class="glyphicon glyphicon-plus"></span> Sign Up</a></li>
          <li><a href="/accounts/login"><span class="glyphicon glyphicon-user"></span> Log In</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
</header>

<script>
// When the user scrolls down 20px from the top of the document, slide down the navbar
window.onscroll = function() {
  scrollFunction();

  };



function scrollFunction() {
 
  if (document.body.scrollTop  || document.documentElement.scrollTop) {
    //list = document.getElementsByClassName("nav");
    //for (index = 0; index < list.length; ++index) {
    //    list[index].setAttribute('style', 'background-color: #111938;top=0;');
        
    //}
      document.getElementById("nav").classList.add("nav-scrolled");
      console.log(document.getElementById("nav").classList)
    
  } else {
    
    //list = document.getElementsByClassName("nav");
    //for (index = 0; index < list.length; ++index) {
    //    list[index].setAttribute('style', 'background-color: #333;top=-50px;');
        
    //}
    console.log("hi")
    document.getElementById("nav").classList.remove("nav-scrolled");
    console.log(document.getElementById("nav").classList)

    
    
    
  }
}
</script>