{% extends 'base.html' %}
{% load static %}


{%block content%}
    {% include 'announcement.html'%}
    {% include 'breadcrumb.html' %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static "css/affiliate.css" %}" rel="stylesheet"/>
<div class="main">

<div class="share">
    <h1 style="text-align: left">Refferal Link:</h1>
    <hr>
    <h1> {{profile.referral.url}} </h1>
    <br>
    <p>Share</p>
    <br>

    <a href="http://www.twitter.com/share?url={{profile.referral.url}}/"><i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{profile.referral.url}}" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="whatsapp://send?text=https://www.google.com"><i class="fa fa-whatsapp"></i></a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{profile.referral.url}}&title=&summary=&source="><i class="fa fa-linkedin"></i></a>
    <a href="mailto:info@example.com?&subject=&body={{profile.referral.url}} "><i class="fa fa-share"></i></a>
</div>


    <hr>

    <div class="box">
        <div class="icon">
            <i class="fa fa-share-square" style="font-size: 3rem"></i>
        </div>
            <div class="content">
                <h3>Payments Made Through Your link</h3>
                <h1> {{profile.affamount}}</h1>
            </div>
        </div>
    <div class="box1">
        <div class="icon">
            <i class="fa fa-share-square" style="font-size: 3rem"></i>
        </div>
        <div class="content">
            <h3>Reedemable Amount</h3>
            <h1>₹ {{profile.affamount}}</h1>
        </div>

    </div>

    
{% endblock %}