{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <!-- Contact core css -->
  <link href="{% static "css/student_profile.css" %}" rel="stylesheet"/>
  {% include 'breadcrumb.html' %}
  {% include 'announcement.html'%}
  
  <div class="container content">
    <link href="{% static "css/course.css" %}" rel="stylesheet"/>
    <div class="row">
      {% if queryset1 %}
        <h1>Courses</h1>
        {% for instance in queryset1 %}
          <div class="col-md-4 course-box-model">

            <a href="{% url 'course_homepage' instance.course_name %} ">
              <div class="inner-wrap">
                <div class="inner-top">
                  {{ instance.course_name }}
                </div>
                <div class="inner-middle"></div>
                <div class="inner-bottom">
                  <span class="author">Author: {{ instance.user }}</span>
                  <span class="course-type">Self-Paced</span>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      {% endif %}
      
    </div>
  </div>
  <div class="container content">
    <link href="{% static "css/webinar.css" %}" rel="stylesheet"/>
    <div class="row">
      {% if queryset2 %}
        <h1>Webinars</h1>
        {% for instance in queryset2 %}
          <div class="col-md-4 course-box-model">

            <a href="{% url 'webinar_homepage' instance.webinar_name %} ">
              <div class="inner-wrap">
                <div class="inner-top">
                  {{ instance.webinar_name }}
                </div>
                <div class="inner-middle"></div>
                <div class="inner-bottom">
                  <span class="author">Author: {{ instance.user }}</span>
                  <span class="course-type">Self-Paced</span>
                </div>
              </div>
            </a>
          </div>

        {% endfor %}
      {% endif %}

{% endblock %}